<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.FacebookLoginTest"/>
      <class name="test.FacebookUserTest"/>
      <class name="test.GmailUserTest"/>
      <class name="test.RegisterTest"/>
      <class name="test.YouTubeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
